COMPOSE_PROJECT_NAME=j2agent
TAG=1.0.0
I18N=zh_CN
J2AGENT_BASE_PATH=~/j2agent
DIR_PATH_SEPARATOR=/
J2AGENT_PORT=30111
JAVA_OPTS="-Xms2g -Xmx4g -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=256m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=utf-8 -XX:HeapDumpPath=/opt/j2agent/volume/logs/j2agent.hprof"
SPRING_OPTIONS="--spring.profiles.active=product"
MYSQL_PORT=30136
MYSQL_DATABASE=j2agent
MYSQL_ROOT_PASSWORD=MsP@132#
REDIS_PORT=30379
REDIS_PASSWORD=
MILVUS_PORT=19530
MILVUS_HEALTH_PORT=9091
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=MsP@132#
MILVUS_TOKEN=root:Milvus
J2AGENT_MILVUS_SCHEMA_CONFIG_PATH=
